.seller-product-list{
    background-color: aliceblue;
}
.seller-layout-grid {
    display: flex;
    align-items: center;
    justify-content: flex-start;
}
.seller-container {
    padding-left: 20px;
}
.seller-product-list{
    width: 260px;
}
.seller-selected-product{
    /*flex: 30;*/
}
.seller-edit-product {
    /*flex: 40;*/
}
.active {
    background-color: lightyellow;
}