<span>Marketplace</span>

<md-grid-list cols="4" rowHeight="400px" class="app-layout">
  <md-grid-tile [colspan]="3" [rowspan]="1" [style.background]="red" class="seller-grid">
    <app-seller>
      seller block
    </app-seller>
  </md-grid-tile>

  <md-grid-tile [colspan]="1" [rowspan]="2" [style.background]="green" class="mobile-grid">
    <app-mobile-app>
      mobile block
    </app-mobile-app>
  </md-grid-tile>

  <md-grid-tile [colspan]="3" [rowspan]="1" [style.background]="DDBDF1" class="backend-grid">
    <app-backend-admin>
      backend block
    </app-backend-admin>
  </md-grid-tile>
</md-grid-list>
