.app-layout {
    background-color: #fafafa;
}

.backend-grid {
    overflow: scroll;
}
.seller-grid {
    overflow: scroll;

}
md-grid-list .grid-container{
    align-self: flex-start;
}

.mobile-grid {
    overflow: scroll;
}


.cdk-overlay-container {
    position: absolute;
}